<div class="student-page">
  <nav id="students-nav">

    <div id="backArrow" ui-sref="cohorts">
      <i class="fa fa-angle-left" aria-hidden="true"></i> Back
    </div>

    <div class="page-name">
      {{cohort.title.toUpperCase()}} STUDENTS
    </div>

    <div id="timer-float">
      <timer-dir></timer-dir>
    </div>

  </nav>

  <div id="students-wrapper">

    <div class="half" ng-class="{ 'students-wide': !pairs.length }">
      <form class="new-student" ng-submit="addUser(newUser)">
        <h2>New Student</h2>
        <input type="text" placeholder="Student's Name" ng-model="newUser">
        <button type="submit" name="button">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>

        <span class="student-buttons">
          <button type="button" name="button" ng-show="pairs.length < 1" ng-click="pair()">Pair</button>
          <button type="button" name="button" ng-if="randomized" ng-click="resetStudents()">Reset</button>
          <button type="button" name="button" ng-click="randomize()">Randomize</button>
        </span>
      </form>

      <div class="students">
        <div class="student" ng-repeat="student in users" ng-mouseover="studentHover = true" ng-mouseleave="studentHover = false">

          <form ng-if="student.editStudent" class="student-edit" ng-submit="student.name = tempStudentName; student.pair = tempStudentPair; updateUser(student)">
            <span>Pair up?: <input type="checkbox" ng-model="tempStudentPair"></span>
            
            <span>
              Name: <input type="text" focus-on="student.editStudent" ng-model="tempStudentName" placeholder="Student Name">

              <button type="submit" name="button">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
              </button>
              <button type="button" name="button">
                <i class="fa fa-times" aria-hidden="true" ng-click="student.editStudent = false; tempStudentName = ''"></i>
              </button>
            </span>
          </form>

          <span ng-hide="student.editStudent" ng-click="student.slashed = !student.slashed" ng-class="{slashed: student.slashed && randomized}">
            {{student.name}}
          </span>

          <span class="student-delete" ng-show="studentHover && !student.editStudent && !randomized">
            <i class="fa fa-pencil" aria-hidden="true" ng-click="editStudentOpen(student); tempStudentName = student.name; tempStudentPair = student.pair"></i>
            <i class="fa fa-times" aria-hidden="true" ng-click="deleteUser(student._id)"></i>
          </span>
        </div>

        <div class="no-student" ng-if="!users.length">
          <h1>
            No students
          </h1>
        </div>
      </div>
    </div>

    <div class="half" ng-if="pairs.length">
      <div class="pairs-title">
        <h2>Today's Pairs</h2>
      </div>
      <div class="pairs">
        <div class="pair" ng-repeat="pair in pairs">
          {{pair[0].name}} / {{pair[1].name}} <span ng-if="!pair[1]">Mentors</span>
        </div>
      </div>
    </div>

  </div>
</div>
