<div class = "cohorts"> 
  
  <nav>
    <p>COHORTS</p>
    <div class="button-contain">
      <button ng-click="logout()">Logout</button>
      <button ng-click="openAddMentorModal()">Add Mentor</button>
    </div>
  </nav>

  <div class="background">
    <div class="overall">
      <p class="third" id="font-weight">COHORT</p>
      <p class="third" id="font-weight">SLACK</p>
      <p class="third" id="font-weight">NOTIFICATIONS</p>
    </div>
  </div>
  
  <div class = "container">
    <div ng-init= "checkd = cohort.notify" ng-repeat = "cohort in cohorts" ng-mouseover="cohortHover = true" ng-mouseleave="cohortHover = false">
      <div class = "cohort-names" ng-class-even="'even'">
        <div class="third" ui-sref="students({cohort_id: cohort._id})">
          <p>{{cohort.title}} </p>
        </div>
        <div class="third" ui-sref="students({cohort_id: cohort._id})">
          <p> {{cohort.slack_channel}} </p>
        </div> 
        <div class="third">
           <input type="checkbox" ng-model="checkd" ng-change="updateSlackNotifications(cohort._id, checkd)"/>
        </div>
        <div>
            <div ng-show="cohortHover" class="hidden-btn">
              <button id="edit-btn" ng-click="openUpdateModal(cohort)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button id="delete-btn" ng-click="deleteCohort(cohort._id)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div> 
        </div>
      </div>
    </div>
  </div>

  <div class = "update-modal" ng-hide="switch">
    <div class = "modal">
      <button class= "modal-close" ng-click="closeUpdateModal()"><b>X</b></button>
      <h1>Update {{specCohort.title}}'s Cohort</h1>
      <form class="modal-form" ng-submit="updateCohort(specCohort._id, cohort)">
        Title: <input type="text" name="" value="" ng-model="cohort.title">
        Slack Channel: <input type="text" name="" value="" ng-model="cohort.slack_channel"><br>
        <button type="submit" name="button" ng-click="closeUpdateModal()">Update Cohort</button>
      </form>
    </div>
  </div>

  <div class = "outer-modal" ng-hide="toggle">
    <div class = "modal">
      <button class= "modal-close" ng-click="closeModal()"><b>X</b></button>
      <h1>New Cohort</h1>
      <form class="modal-form" ng-submit="addCohort(newCohort)">
        Title: <input type="text" name="" value="" ng-model="newCohort.title">
        Slack Channel: <input type="text" name="" value="" ng-model="newCohort.slack_channel"><br>
        <button type="submit" name="button" ng-click="closeModal()">Add Cohort</button>
      </form>
    </div>
  </div>

  <div class="outer-modal" ng-hide="mentorSwitch">
    <div class="modal">
      <button class="modal-close" ng-click="closeAddMentorModal()"><b>X</b></button>
      <h1>Add Mentor</h1>
      <form class="modal-form" ng-submit="register(newUser)">
        UserName: <input type="text" name="" value="" ng-model="newUser.username">
        Password: <input type="text" name="" value="" ng-model="newUser.password"><br>
        <button type="submit" name="button" ng-click="closeAddMentorModal()">Add Mentor</button>
      </form>
    </div>
  </div>

  <button class="add-cohort" ng-click="openModal()">+</button>

</div>

