@import "../../../styles/colors"

.cohorts
  box-sizing: border-box
  padding: 20px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background-color: $queBlue
  height: calc(100vh - 63px);
  margin-top: 63px;
  // .cohort-names:nth-child(odd)
  //   background-color: grey !important
  // .cohort-names:nth-child(even)
  //   background-color: white !important

nav 
  width: 100vw
  height: 63px
  position: absolute
  top: 0
  background-color: $queGrey
  display: flex
  justify-content: center;
  align-items: center;
  p 
    color: white
    font-size: 2em

.container
  display: flex
  flex-direction: column
  width: 70vw;
  height: 70vh;
  background-color: #FFFFFF
  overflow-y: auto
  overflow-x: hidden
  border-radius: 3px
  p 
    margin: 0node
  .left
    float: left
    margin-left: 5vw
  .right
    float: right
    margin-right: 5vw
.add-cohort
  float: right
  position: absolute
  bottom: 0
  right: 15vw
  margin: 0
  top: 90vh
  font-size: 2em
  height: 6vh
  width: 6vh
  border-radius: 22px
  border: none
  outline: none
.modal-form
  display: flex
  flex-direction: column
.modal-close
  float: right
  border: none
  background-color: white
  outline: none
  color: black
.modal
  width: 50vw
  height: 36vh
  background-color: white
  margin-top: 63px
  border-radius: 10px
  padding: 5%
.outer-modal
  height: calc(100vh + 63px)
  width: 100vw
  position: absolute
  margin-top: -63px
  z-index: 1
  background-color: rgba(15, 15, 15, 0.89)
  display: flex
  align-items: center
  justify-content: center
.even:nth-child(odd)
  background-color: grey
.cohort-names
  align-items: center
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 10px
  .middle
    text-align: center
  .fa
    background-color: inherit
    color: black
  #edit-btn
    background-color: inherit
    z-index: 3
  #delete-btn
    background-color: inherit
    z-index: 3
  .fa-times
    color: $queRed

.update-modal
  height: calc(100vh + 63px)
  width: 100vw
  position: absolute
  margin-top: -63px
  z-index: 1
  background-color: rgba(15, 15, 15, 0.89)
  display: flex
  align-items: center
  justify-content: center