<!--<div class="cohorts">
  <form class="" ng-submit="addCohort(newCohort)">
    <h1>New Cohort</h1>
    Title: <input type="text" name="" value="" ng-model="newCohort.title">
    Slack Channel: <input type="text" name="" value="" ng-model="newCohort.slack_channel">
    <button type="submit" name="button">Add Cohort</button>
  </form>
  <hr><br>

  <div class="cohort" ng-repeat="cohort in cohorts">
    <a ui-sref="students({cohort_id: cohort._id})">{{cohort.title}} - {{cohort.slack_channel}}</a>
    <input type="text" name="" value="" ng-model="cohort.title">
    <input type="text" name="" value="" ng-model="cohort.slack_channel">
    <button type="button" name="button" ng-click="updateCohort(cohort)">update</button>
    <button type="button" name="button" ng-click="deleteCohort(cohort._id)">X</button>
  </div>
</div>-->
<div class = "cohorts"> 

  <nav>
    <p><b>COHORTS</b></p>
  </nav>

  <div class = "container">

    <div ng-repeat = "cohort in cohorts" ng-mouseover="cohortHover = true" ng-mouseleave="cohortHover = false">
      <div class = "cohort-names" ng-class-even="'even'" ui-sref="students({cohort_id: cohort._id})">
        <p>{{cohort.title}} </p>
        <p> {{cohort.slack_channel}} <input type="checkbox" ng-model="checkd" ng-change="updateSlackNotifications(cohort._id, checkd)"/></p>
          <div>
            <div ng-show="cohortHover">
              <button id="edit-btn" ng-click="openUpdateModal(cohort)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button id="delete-btn" ng-click="deleteCohort(cohort._id)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div> 
          </div>
      </div>
    </div>

  </div>

  <div class = "update-modal" ng-hide="switch">
    <div class = "modal">
      <button class= "modal-close" ng-click="closeUpdateModal()"><b>X</b></button>
      <h1>Update {{specCohort.title}}'s Cohort</h1>
      <form class="modal-form" ng-submit="updateCohort(specCohort._id, cohort)">
        Title: <input type="text" name="" value="" ng-model="cohort.title">
        Slack Channel: <input type="text" name="" value="" ng-model="cohort.slack_channel"><br>
        <button type="submit" name="button" ng-click="closeUpdateModal()">Update Cohort</button>
      </form>
    </div>
  </div>

  <div class = "outer-modal" ng-hide="toggle">
    <div class = "modal">
      <button class= "modal-close" ng-click="closeModal()"><b>X</b></button>
      <h1>New Cohort</h1>
      <form class="modal-form" ng-submit="addCohort(newCohort)">
        Title: <input type="text" name="" value="" ng-model="newCohort.title">
        Slack Channel: <input type="text" name="" value="" ng-model="newCohort.slack_channel"><br>
        <button type="submit" name="button" ng-click="closeModal()">Add Cohort</button>
      </form>
    </div>
  </div>

  <button class="add-cohort" ng-click="openModal()">+</button>

</div>

