@import "../../../styles/colors"

.home-nav
  height: 10vh
  background-color: #444444
  position: relative
  font-family: Arial
  width: 100%
  .contain
    margin: 0 auto
    width: 300px
    margin: 0 auto
    img
      width: 45px
  .nav-elem
    display: inline-block
    line-height: 72px
    vertical-align: middle
    padding: 5px
  .title
    font-weight: bold
    font-size: 1.4em
    color: $devMtnWhite

.main
  background: $queBlue
  height: 90vh
  img
    margin-top: 12vh
    position: relative
    left: 50%
    transform: translate(-50%, 0)

.login
  width: 200px
  border: 1px solid #aaa
  padding: 30px
  margin: 0 auto
  form
    font-size: 14px
    min-width: 200px
    margin: 0 auto
    input
      box-sizing: border-box
      width: 100%
      padding: 7px 10px 5px 10px
      margin-bottom: 15px
      border: 1px solid #bbb
      border-radius: 3px
      outline: none
      box-shadow: none !important
    button
      text-transform: uppercase
      width: 100%
      padding: 10px 0
      border-radius: 3px
      border: none

